<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>====CASE 3====</title>
    <meta name="keywords" content="Assignment, Basic web Development">
    <meta name="author" content="Miroon Shanth">
    <link href="assets/css/Case_3.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Vollkorn:ital,wght@1,500&display=swap" rel="stylesheet"></head>
<!--    <link rel="stylesheet" href="assets/CSS/fontawesome/css/all.css">-->

</head>
<body>
<section>
    <div>
        <p>1st</p>
    </div>
</section>

<section>
    <div>
        <p>2nd</p>
    </div>
</section>


<section>
    <div>
        <p>3rd</p>
    </div>
</section>

<div></div>

<div></div>
</body>
</html>