<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>====CASE 2====</title>
    <meta name="keywords" content="Assignment, Basic web Development">
    <meta name="author" content="Miroon Shanth">
    <link href="assets/CSS/Case_2.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Vollkorn:ital,wght@1,500&display=swap" rel="stylesheet"></head>
    <link rel="stylesheet" href="assets/CSS/fontawesome/css/all.css">
<body>
<header>
    <img src="assets/Images/IJSE.jpg" alt="This is a logo" >

    <ul>
        <li>Home</li>
        <li>Service</li>
        <li>Contacts</li>
        <li>About us</li>
    </ul>

</header>

<main>
    <nav>
        <ul>
            <li><i class="fas fa-house-user"></i><a href="NevIndex.html">Home</a></li>
            <li><i class="fab fa-servicestack"></i><a href="NevIndex.html">Service</a></li>
            <li><i class="fas fa-file-contract"></i><a href="NevIndex.html">Contacts</a></li>
            <li><i class="fas fa-exclamation"></i><a href="NevIndex.html">About us</a></li>
        </ul>

    </nav>

    <section>
        <section>
            <div></div>
            <div></div>
            <div></div>
        </section>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores beatae consectetur cumque error ex
            facilis ipsam maiores minus modi, odit perspiciatis provident, quaerat quia quibusdam repellendus rerum
            sequi sit totam.</p>
        <p>Accusamus debitis deserunt est harum ipsum, labore libero minus necessitatibus nemo nisi possimus quia quo
            tempora, velit vitae! Ad aliquam aut consequuntur dolor eveniet ex facere iusto quae quam ratione!</p>
        <p>Alias animi consequuntur id necessitatibus quibusdam totam veniam voluptas. Ab, at atque dicta dolore
            doloribus ducimus ex ipsum minima molestias necessitatibus omnis, quo saepe sit suscipit veritatis vero
            voluptates! Odit.</p>
        <p>Ab adipisci aliquam animi error hic illum ipsa iure magnam nemo, numquam porro quia, quis sint, sit
            temporibus totam ut vitae voluptatibus. Non numquam quam quod vitae. Et pariatur, voluptatum?</p>
        <p>Asperiores consectetur consequatur dolor magnam odit quo totam! Dolor doloremque, ea iusto labore maiores
            nisi odio omnis quidem, quos repellat sed sunt. Blanditiis cumque facere, necessitatibus perferendis quos
            voluptatem voluptatum!</p>
        <p>Asperiores beatae doloremque ex fugiat, illum officiis quae quo similique. Cumque ipsa maiores quam quidem
            quo recusandae vitae. Ad culpa cumque doloribus ex nihil odio totam. Eaque enim libero necessitatibus.</p>
        <p>Consequuntur deleniti dolor dolores dolorum eveniet id laborum officiis quasi quisquam vero! Delectus
            ducimus, earum eum eveniet fugit illo illum nesciunt non numquam, obcaecati quaerat quisquam repudiandae
            saepe ullam, veritatis!</p>
        <p>A accusantium amet culpa cupiditate ducimus enim est, explicabo harum iusto magni neque qui quibusdam
            recusandae sint suscipit temporibus unde velit voluptate. Deserunt error eum harum molestiae quaerat,
            quisquam tenetur.</p>
        <p>A accusantium amet culpa cupiditate ducimus enim est, explicabo harum iusto magni neque qui quibusdam
            recusandae sint suscipit temporibus unde velit voluptate. Deserunt error eum harum molestiae quaerat,
            quisquam tenetur.</p>
        <p>A accusantium amet culpa cupiditate ducimus enim est, explicabo harum iusto magni neque qui quibusdam
            recusandae sint suscipit temporibus unde velit voluptate. Deserunt error eum harum molestiae quaerat,
            quisquam tenetur.</p>
        <p>Asperiores consectetur consequatur dolor magnam odit quo totam! Dolor doloremque, ea iusto labore maiores
            nisi odio omnis quidem, quos repellat sed sunt. Blanditiis cumque facere, necessitatibus perferendis quos
            voluptatem voluptatum!</p>
        <p>Asperiores beatae doloremque ex fugiat, illum officiis quae quo similique. Cumque ipsa maiores quam quidem
            quo recusandae vitae. Ad culpa cumque doloribus ex nihil odio totam. Eaque enim libero necessitatibus.</p>
        <p>Consequuntur deleniti dolor dolores dolorum eveniet id laborum officiis quasi quisquam vero! Delectus
            ducimus, earum eum eveniet fugit illo illum nesciunt non numquam, obcaecati quaerat quisquam repudiandae
            saepe ullam, veritatis!</p>
        <p>A accusantium amet culpa cupiditate ducimus enim est, explicabo harum iusto magni neque qui quibusdam
            recusandae sint suscipit temporibus unde velit voluptate. Deserunt error eum harum molestiae quaerat,
            quisquam tenetur.</p>
        <p>A accusantium amet culpa cupiditate ducimus enim est, explicabo harum iusto magni neque qui quibusdam
            recusandae sint suscipit temporibus unde velit voluptate. Deserunt error eum harum molestiae quaerat,
            quisquam tenetur.</p>
        <p>A accusantium amet culpa cupiditate ducimus enim est, explicabo harum iusto magni neque qui quibusdam
            recusandae sint suscipit temporibus unde velit voluptate. Deserunt error eum harum molestiae quaerat,
            quisquam tenetur.</p>

    </section>

</main>

<footer>
    <p><small>Developed By MShanth</small></p>
</footer>

</body>
</html>