
/*1*/
body>section{
    height: 100vh;
    position: relative;
}

/*2*/

section > div {
    width: 325px;
    height: 325px;

    border-radius: 100%;
    border: 2px solid black;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;

    margin: auto;
    text-align: center;


}

/*3*/
body>section:nth-child(3)>div{
    top: 3%;
    background-color: rgb(0, 255, 25);
}

body > section:nth-child(1) > div {
    bottom: 2%;
    background-color: rgb(0, 85, 255);
}

body > section:nth-child(2) > div {
    bottom: 40%;

    background-color: rgb(177, 144, 26);
}

/*4*/
section > div > p {
    position: relative;

    top: 45%;

    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    font-size: 45px;
    font-family: "Tw Cen MT";
    color: white;
    font-weight: bold;

}

/*5*/

body > div:nth-of-type(1) {
    width: 330px;
    height: 330px;
    border-radius: 100%;

    border: 25px solid #95a5a6;
    position: fixed;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;


}

body > div:nth-of-type(2) {
    width: 375px;
    height: 375px;
    border-radius: 100%;

    border: 25px solid red;
    position: fixed;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

}



